@model InfomsWeb.Models.ModuleTree

@{
    ViewBag.Title = "Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="breadcrumb-item active">Modules</li>
    </ol>
</nav>
<p>
    &nbsp;
</p>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">@ViewBag.Title</h4>
            </div>
            <div class="card-body">
                <div>
                    <span class="text-success">@ViewBag.Message</span>
                </div>
                <div>
                    @if (Model.Child.Count() > 0)
                    {
                        Html.RenderPartial("_SubModule", Model.Child);
                    }
                </div>
            </div>
            <div class="card-footer">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>
        </div>
    </div>
</div>

