body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    width: 100%;
}*/

/* div resize */
.divresize {
    max-width: 300px;
}

input[type=submit], input[type=button] {
    margin-left: 5px;
    margin-right: 5px;
}

/* overwrite breadcrumb class dalam bootstrap*/
.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

    .breadcrumb > li > a {
        color: #444;
        text-decoration: none;
        display: inline-block;
    }

        .breadcrumb > li > a > .fa {
            margin-right: 5px;
        }

    /*overwrite breadcrumb slash */
    .breadcrumb li a::before, .breadcrumb-item + .breadcrumb-item::before {
        content: '';
    }

    /*breadcrumb anak panah*/
    .breadcrumb li a::after {
        content: '\00a0>';
        padding-left: 0.5em;
    }

    .table a:hover {
        text-decoration:none;
    }
 .card {
     border-top: 3px solid;
     border-top-color: red;
 }

 .card-body{
     padding-right: 2rem;
     padding-left: 2rem;
 }

.col-form-label{
         font-weight: 600;
 }