<footer>
    @*<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
        <div class="text-white text-center">&copy; @DateTime.Now.Year - RedPlanet Solutions Sdn. Bhd.</div>
    </nav>*@
    <div class="text-center text-white fixed-bottom bg-dark">
        <p>&copy; @DateTime.Now.Year - RedPlanet Solutions Sdn. Bhd.</p>
    </div>
</footer>
