@model IEnumerable<InfomsWeb.Models.ModuleTree>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.CheckBox("IsChecked", item.IsChecked, new {  id = string.Format("IsChecked{0}", item.ID), @class = "checkbox", data_details = item.ID, data_parent = item.ParentId })
            <span style="margin-right:5px;">@item.Name</span>            
            @if (item.Child.Count() > 0)
            {
                Html.RenderPartial("_SubModuleCheckBox", item.Child);
            }
        </li>
    }
</ul>
